.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
    padding-bottom: 5%;
}

/* Modal Content (Image) */
.modal-content {
    margin: inherit;
    display: inline-block;
    width: 223px;
    height: 310px;
    max-width: 80%;
    max-height: 80%;
    border-radius: 5%;
    float: left;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
.caption {
    display: inline-block;
    position: relative;
    width: 80%;
    height: auto;
    min-width: 226px;
    min-height: 311px;
    max-height: 80%;
    max-height: 80%;
}
.detail-item{
    display: inline-block;
    position: relative;
    border-color: #222222;
    margin-bottom: 0;
}

.detail-header{
    display: inline-block;
    position: relative;
    background-color: #7f7f7f;
    height: 100%;
    min-height: 100%;
    min-width: 100%;
    font-weight: bold;
    border-radius: 0%;
    color: #f1e8e0;
    text-shadow: 2px 2px 5px rgb(11, 0, 17);
}

.detail-body{
    display: inline-block;
    position: relative;
    padding: inherit;
    text-align: center;
    border-radius: 0%;
    word-wrap: break-word;
    white-space: initial;
    height: 100%;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)}
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}

/* The Close Button */
.close {
    position: absolute;
    top: 0px;
    left: 0px;
    color: #11001d;
    font-size: 100px;
    font-weight: bold;
    transition: 0.3s;
    text-shadow: 0 0 25px #11001d;
    box-shadow: 6px 6px 6px #11001d;
    width: 5%;
    text-align: center;
    margin-top: 0%;
    background-color: white;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}

.img{
    width: 226px;
    height: 311px;
}
.imgBox{
    min-width: 226px;
    min-height: 311px;
    float: left;
    /*box-shadow: 20px 20px 2px #2d2d2d;*/
    /*border-radius: 20%;*/
}

#pager{
    position: fixed;
    bottom: 0;
    /*width: 60%;*/
    background-color: white;
}